html , body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  align-items: center;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.trybewarts-header-logo {
  height: 70px;
}

.trybewarts-login {
  display: flex;
}

#trybewarts-header-title {
  color: white;
}

#trybewarts-forms-logo {
  height: 500px;
}

#input-name , #input-lastname {
  display: block;
}

footer {
  bottom: 0;
}
